*{
    margin: 0;
    padding: 0;
}
header {
    background-color: rgba(186, 9, 9, 0.919);
    padding: 10px;
    list-style: none;
}
#logo{
    text-align: center;
    display: flex;
}
.logo1 {
    width: 100px;
    margin-left: 500px;
}
h1 {
    font-size: 4rem;
    padding-left: 30px;
    padding-top: 20px;
}
.inicio {
    border: none;
    background-color:white;
    background-color: rgba(128, 128, 123, 0.38);
    border-radius: 100%;
    margin-top: 50px;
    padding: 10px;
} 
.inicio a{
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "Licorice-Regular";
} 
.inicio a:hover {
    color: white;
    background-color: black;
    opacity: 60%;
    border-radius: 60%;
    padding: 10px;
}
@media only screen and (max-width: 768px) {
    header {
        padding: 0px;
    }
    #logo{
        text-align: center;
        display: flex;
    }
    .logo1 {
        margin-left: 250px;
        margin-top: 20px;
        height: 50px;
        width: 50px;
    }
    h1 {
        font-size: 3rem;
        padding-left: 30px;
        padding-top: 20px;
    }
    .inicio {
        margin-top: 50px;
        padding: 5px;
    } 
    .inicio a{
        font-size: 1rem;
    } 
}
@media only screen and (max-width: 480px) {
    header {
        padding: 0px;
    }
    #logo{
        text-align: center;
        display: flex;
    }
    .logo1 {
        margin-left: 90px;
        margin-top: 20px;
        height: 40px;
        width: 40px;
    }
    h1 {
        font-size: 2rem;
        padding-left: 30px;
        padding-top: 20px;
    }
}
body {
    font-family: "Licorice-Regular";
    background-color: rgba(104, 100, 100, 0.703);
    box-sizing: border-box;
}
@font-face {
    font-family: "Licorice-Regular";
    src: url("../assets/Licorice/Licorice-Regular.ttf");
}
h2 {
    font-size: 1rem;
    margin: 0px;
    padding: 30px;
}
h4 {
    font-size: 1rem;
    display:flex;
    color: black;
    margin-left: 1rem;
    padding-left: 0.5rem;
    padding-top: 1rem;
    text-decoration: none;
    display: list-item;
}
h5 {
    font-size: 1rem;
    color: black;
    text-align: center;
    padding-bottom: 20px;
}
.navbar {
    padding: 10px;
}
.navbar li {
    font-size: 1.5rem;
    padding: 5px;
}
.navbar li:hover {
    border-radius: 90%;
    opacity: 50%;
    padding: 10px;
}
.nav-item:hover {
    background-color: gray;
}
@media only screen and (max-width: 768px){
    .navbar li {
    font-size: 1rem;
    padding: 0px;
    }
}
@media only screen and (max-width: 480px){
    .navbar li {
    font-size: 0.8rem;
    }
}
.item2 {
    padding:10px;
    margin-top: 10px;
    border:none;
    font-size: 10px;
    background-color:white;
    background-color: rgba(128, 128, 123, 0.38);
    border-radius: 60%;
} 
.item2 a{
    color: black;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Licorice-Regular";
    margin-bottom: 0;
    margin-top: 2rem;
    padding: 0.5rem;
} 
.item2 a:hover {
    color: white;
    background-color: black;
    border-radius: 100%;
    opacity: 60%;
}
.section1{
    text-align: center;
    margin: 0;
    padding: 0;
}
.imagen{
    border-radius: 10%;
}
ul {
    list-style: none;
    text-align: center;
}  
li .icono1{
    height: 30px;
    position: relative;
    right: 200px;
    top: 0px;
}
li .icono2{
    height: 30px;
    position: relative;
    left: 200px;
    bottom: 30px;
}
@media only screen and (max-width: 768px) {
    .imagen{
        width: 650px;
        padding: 10px;
    }
    ul {
        list-style: none;
        text-align: center;
    }  
    li .icono1{
        height: 20px;
        position: relative;
        right: 150px;
        top: 0px;
    }
    li .icono2{
        height: 20px;
        position: relative;
        left: 150px;
        bottom: 25px;
    }
}
@media only screen and (max-width: 480px) {
    .imagen{
        width: 450px;
        padding: 10px;
    }
    ul {
        list-style: none;
        text-align: center;
    }  
    li .icono1{
        height: 20px;
        position: relative;
        right: 100px;
        top: 0px;
    }
    li .icono2{
        height: 20px;
        position: relative;
        left: 100px;
        bottom: 25px;
    }
}  
footer {
    background-color: rgba(186, 9, 9, 0.919);
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}
.section2 {
    list-style: none;
}
.section3 {
    margin: 0;
    padding: 0;
    text-align: right;
}
.item4{
	height: 50px;
    padding: 0.5rem;
    background-color: none;
    margin-right: 1.5rem;
 }
.item5{
    height: 90px;
    padding: 1.5rem;
    position: fixed;
    right: 3rem;
    bottom: 1rem;
    opacity: 80%;
}
.section4 {
    list-style: none;
    margin: 20px auto;
    text-align: center;
}
.item6{
    display:inline-block;
    height: 30px;
    text-align: center;
    padding: 1rem;
}
.icono{
	display: inline;
	height: 40px;
    padding: 0.5rem;
 }
h3 {
    font-size: 3rem;
    margin: 0px;
    padding: 0px;
    text-align: center;
    box-sizing: content-box;
}
.nosotros{
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0fr 0fr;
    gap: 15px;
    grid-template-areas: 
        "subti subti"
        "texto equipo";
}
@media only screen and (max-width: 992px) {
    .nosotros{
        padding: 5px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0fr 0fr 0fr;
        gap: 15px;
        grid-template-areas: 
            "subti"
            "texto"
            "equipo";
        }
        h3 {
            font-size: 2rem;
            margin: 0px;
            padding: 0px;
            text-align: center;
        }
        .texto{
            grid-area: texto;
            font-size: 1rem;
            padding: 0px;
            margin: 0px;
            text-align: center;
        }
        .equipo {
            grid-area: equipo;
            size: 30px;
        }
        .foto{
            height: 250px;
            padding-top: 20px;
        }
}
@media only screen and (max-width:760px){
    .nosotros{
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 0fr 0fr;
    gap: 15px;
    grid-template-areas: 
        "subti"
        "texto"
        "equipo";
    }
    h3 {
        font-size: 2rem;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
    .texto{
        grid-area: texto;
        font-size: 1rem;
        padding: 0px;
        margin: 0px;
        text-align: center;
    }
    .equipo {
        grid-area: equipo;
        size: 20px;
    }
    .foto{
        height: 200px;
        padding-top: 20px;
    }
}
.texto{
    grid-area: texto;
    font-size: 1.5rem;
}
.equipo {
    grid-area: equipo;
    size: 50px;
}
.foto{
    height: 400px;
    padding-top: 20px;
}
.pol {
    box-sizing: border-box;
    height: 600px;
    overflow: auto;
}
.teryco {
    margin: 20px;
    padding: 20px;
}
.subti {
    font-size: 2rem;
    text-align: center;
    text-decoration:underline;
    padding: 10px;
}
.politica {
    margin: 20px;
    padding: 20px;
}
.texto1 {
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    text-align:justify;
}
.texto2 {
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    text-align:justify;
}
hr {
    height: 0.5px;
    color: white;
    background-color: white;
}
.servicios {
    margin: 30px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    grid-template-areas: 
        "eventos videoc publi produ";
}
.eventos{
    text-align: center;
    grid-area: eventos;
}
.videoc {
    text-align: center;
    grid-area: videoc;
}
.publi{
    text-align: center;
    grid-area: publi;
}
.produ {
    text-align: center;
    grid-area: produ;
}
.icoser {
    height: 50px;
    width: 50px;
}
.descrip {
    font-size: 1.5rem;
    text-align: justify;
    padding: 15px;
}
.contact {
    padding: 10px;
    margin: 10px;
    display: inline;
}
.subser {
    font-size: 2rem;
}
.presu {
    margin: 50px;
    text-align: center;
}
.presu1 {
    padding: 5px;
    background-color:rgb(175, 188, 188);
} 
.presu1 a{
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "Licorice-Regular";
} 
.presu1 a:hover {
    color: white;
    background-color: black;
    opacity: 60%;
    padding: 5px;
}
@media only screen and (max-width:768px){
    .servicios {
        margin: 10px;
        padding: 5px;
        display: grid;
        grid-template-columns: 3fr 3fr;
        grid-template-rows: 1fr 1fr;
        gap: 5px;
        grid-template-areas:
            "eventos videoc" 
            "publi produ";
    }
    .eventos{
        grid-area: eventos;
    }
    .videoc {
        grid-area: videoc;
    }
    .publi{
        grid-area: publi;
    }
    .produ {
        grid-area: produ;
    }
    .icoser {
        height: 40px;
        width: 40px;
    }
    .descrip {
        font-size: 1.5rem;
        text-align: justify;
        padding: 10px;
    }
    .subser {
        font-size: 1.5rem;
    }
    .presu {
        margin: 20px;
        text-align: center;
    }
    .presu1 {
        padding: 5px;
        background-color: none;
    } 
}  
@media only screen and (max-width:480px){
    .servicios {
        margin: 10px;
        padding: 5px;
        display: grid;
        grid-template-columns: 3fr 3fr;
        grid-template-rows: 1fr 1fr;
        gap: 5px;
        grid-template-areas:
            "eventos videoc" 
            "publi produ";
    }
    .eventos{
        grid-area: eventos;
    }
    .videoc {
        grid-area: videoc;
    }
    .publi{
        grid-area: publi;
    }
    .produ {
        grid-area: produ;
    }
    .icoser {
        height: 40px;
        width: 40px;
    }
    .descrip {
        font-size: 1rem;
        text-align: justify;
        padding: 10px;
    }
    .subser {
        font-size: 1.5rem;
    }
    .presu {
        margin: 20px;
        text-align: center;
    }
    .presu1 {
        padding: 5px;
        background-color: none;
    } 
}  
.form {
    margin: 10px;
    padding-left: 40px;
    padding-top: 20px;
    border-style: none;
    text-align: justify;
}
.name1 {
    font-size: 1.5rem;
    padding-right: 30px;
}
.name2 {
    font-size: 1rem;
    padding-right: 30px;
    border-radius: 60px;
    width: 350px;
}
.mail1 {
    font-size: 1.5rem;
    padding-right: 30px;
}
.mail2 {
    font-size: 1rem;
    padding-right: 30px;
    border-radius: 60px;
    width: 400px;
}
.phone1 {
    font-size: 1.5rem;
    padding-right: 30px;
    
}
.phone2 {
    font-size: 1rem;
    padding-right: 30px;
    border-radius: 60px;
    width: 400px;
}
.tex1 {
    font-size: 1.5rem;
    padding-right: 30px;
}
.tex2 {
    font-size: 1rem;
    padding-right: 30px;
    border-radius: 60px;
    width: 600px;
}
.botones {
    font-family: "Licorice-Regular";
    border-radius: 50%;
    padding-left: 100px;
}
input {
    font-size: 1rem;
    margin-left: 50px;
}