@media only screen and (max-width: 480px) {
    header {
        padding: 0px;

        #logo{
            text-align: center;
            display: flex;

            .logo1 {
                margin-left: 90px;
                margin-top: 20px;
                height: 40px;
                width: 40px;
            }
            h1 {
                font-size: 2rem;
                padding-left: 30px;
                padding-top: 20px;
            }
            .inicio a{
                font-size: 0.5rem;
            } 
        }
    }
}
@media only screen and (max-width: 768px){
    .navbar li {
    font-size: 1rem;
    padding: 0px;
    }
}
@media only screen and (max-width: 480px){
    .navbar li {
    font-size: 0.8rem;
    }
}
@media only screen and (max-width: 768px) {
    h3 {
        font-size: 2.5rem;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
}
 @media only screen and (max-width:768px){
     h3 {
         font-size: 2rem;
         margin: 0px;
         padding: 0px;
         text-align: center;
    }
}
@media only screen and (max-width: 768px) {
    .presentacion {
        .nosotros{
            padding: 5px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 0fr 0fr 0fr;
            gap: 15px;
            grid-template-areas: 
                "subti"
                "texto"
                "equipo";

            .texto{
                grid-area: texto;
                font-size: 1rem;
                padding: 0px;
                margin: 0px;
                text-align: center;
            }
            .equipo {
                grid-area: equipo;
                size: 30px;

                .foto{
                    height: 400px;
                    padding-top: 20px;
                    padding-left: 80px;
                }
            }
        }
    }
}

@media only screen and (max-width:480px){
    .presentacion {
        .nosotros{
        padding: 5px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0fr 0fr 0fr;
        gap: 15px;
        grid-template-areas: 
            "subti"
            "texto"
            "equipo";

            .texto{
                grid-area: texto;
                font-size: 1rem;
                padding: 5px;
                margin: 5px;
                text-align: center;
            }
            .equipo {
                grid-area: equipo;
                size: 20px;
                .foto{
                    height: 300px;
                    padding-top: 20px;
                    text-align: center;
                    margin: 5px;
                }
            }
        }
    }    
}
@media only screen and (max-width:768px){
    .servicios {
        margin: 10px;
        padding: 5px;
        display: grid;
        grid-template-columns: 3fr 3fr;
        grid-template-rows: 1fr 1fr;
        gap: 5px;
        grid-template-areas:
            "eventos videoc" 
            "publi produ";
    
        .eventos{
            grid-area: eventos;
            .icoser {
                height: 40px;
                width: 40px;
            }
            .subser {
                font-size: 1.5rem;
            }
            .descrip {
                font-size: 1.5rem;
                justify-content:center;
                padding: 10px;
            }
        }
        .videoc {
            grid-area: videoc;
            .icoser {
                height: 40px;
                width: 40px;
            }
            .subser {
                font-size: 1.5rem;
            }
            .descrip {
                font-size: 1.5rem;
                justify-content:center;
                padding: 10px;
            }
        }
        .publi{
            grid-area: publi;
            .icoser {
                height: 40px;
                width: 40px;
            }
            .subser {
                font-size: 1.5rem;
            }
            .descrip {
                font-size: 1.5rem;
                justify-content:center;
                padding: 10px;
            }
        }
        .produ {
            grid-area: produ;
            .icoser {
                height: 40px;
                width: 40px;
            }
            .subser {
                font-size: 1.5rem;
            }
            .descrip {
                font-size: 1.5rem;
                justify-content:center;
                padding: 10px;
            }
        }
    }

}  
@media only screen and (max-width:480px){
    .servicios {
        margin: 10px;
        padding: 5px;
        display: grid;
        grid-template-columns: 3fr 3fr;
        grid-template-rows: 1fr 1fr;
        gap: 5px;
        grid-template-areas:
            "eventos videoc" 
            "publi produ";
    
        .eventos{
            grid-area: eventos;
            .icoser {
                height: 40px;
                width: 40px;
            }
            .subser {
                font-size: 1.5rem;
            }
            .descrip {
                font-size: 1rem;
                justify-content:center;
                padding: 10px;
            }

        }
        .videoc {
            grid-area: videoc;
            .icoser {
                height: 40px;
                width: 40px;
            }
            .subser {
                font-size: 1.5rem;
            }
            .descrip {
                font-size: 1rem;
                justify-content:center;
                padding: 10px;
            }
        }
        .publi{
            grid-area: publi;
            .icoser {
                height: 40px;
                width: 40px;
            }
            .subser {
                font-size: 1.5rem;
            }
            .descrip {
                font-size: 1rem;
                justify-content:center;
                padding: 10px;
            }
        }
        .produ {
            grid-area: produ;
            .icoser {
                height: 40px;
                width: 40px;
            }
            .subser {
                font-size: 1.5rem;
            }
            .descrip {
                font-size: 1rem;
                justify-content:center;
                padding: 10px;
            }
        }
    }
}  
@media only screen and (max-width: 480px) {
    .section2 {
        h4 {
            font-size: 0.5rem;
        }
    }
}