@import "varcolor";

@mixin servicios () {
    .icoser {
        height: 70px;
        width: 70px; 
        border-radius: 50%;
    }
    .subser {
        font-size: 2rem;
        font-family: 'Handlee', cursive;
        padding: 5px;
        margin-top: 10px;
    }
    .descrip {
        font-size: 1.5rem;
        justify-content:center;
        padding: 15px;
        font-family: 'Handlee', cursive;
    }
}
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: $bgcolor;    
    header {
        background-color: $rojo;
        list-style: none;
        text-align: center;
        position: relative;
        background-size:contain;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        #logo{
            display: inline-block;
            list-style: none;
            margin: 5px;

            .logo1 {
                height: 80px;
                justify-content: center;
            }
            h1 {
                font-size: 4rem;
                justify-content: center;
                color: white;
                font-family: 'Handlee', cursive;
            }
        }
        .container-portada {
            height: 300px;
            background-image: url(../produccion.jpg);
            background-size: 200%;
            animation: movimiento 10s infinite linear alternate;
    
            @keyframes movimiento {
                from {
                    background-position: bottom left;
                }to {background-position: top right;
                }
                
            }
            .capa-gradient {
                height: 100%;
                position: absolute;
                background: -webkit-linear-gradient(left,black #0672d0);
                opacity: 0.5;
            }
            .container-details {
                text-align: center;
    
                .details {
                    color: white;
                    display: inline-block;
                    padding: 40px;
            
                    .details img {
                        height: 0.1px;
                        justify-content: center;
    
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 480px) {
        header {
            background-color: $rojo;
            list-style: none;
            text-align: center;
            position: relative;
            background-size:contain;
                .logo1 {
                    height: 60px;
            }
        }
    }
    .navbar {

        .navbar li {
            font-size: 1.5rem;
            padding: 5px;
        }
        .navbar li:hover {
            border-radius: 90%;
            opacity: 50%;
            padding: 10px;
        }
        .nav-item:hover {
            background-color: gray;
        }
    }
    .container{
        margin-bottom: 40px;
        }
    h3 {
        font-size: 3rem;
        padding: 20px;
        color: white;
        text-align: center;
        box-sizing: content-box;
        font-family: 'Handlee', cursive;
        background-color: black;
    }
    @media only screen and (max-width: 768px) {
        h3 {
            font-size: 2.5rem;
            padding: 10px;
        }
    }
    @media only screen and (max-width:768px){
        h3 {
            font-size: 2rem;
            padding: 5px;
       }
   }
    .presentacion {
        .nosotros{
            list-style: none;
            margin: 5px;
            padding: 5px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 0fr 0fr;
            gap: 10px;
            grid-template-areas: 
                "subti subti"
                "texto equipo";
                
            .texto{
                padding-top: 30px;
                grid-area: texto;
                font-size: 1rem;
                font-family: 'Handlee', cursive;
            }
            .equipo {
                grid-area: equipo;
                text-align: center;
                .foto{
                    height: 400px;
                    padding-top: 10px;
                }
            }

        }
    }
    @media only screen and (max-width: 1000px) {
        .presentacion {
            .nosotros{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 0fr 0fr 0fr;
                gap: 5px;
                grid-template-areas: 
                    "subti"
                    "texto"
                    "equipo";
    
                .texto{
                    grid-area: texto;
                    font-size: 1rem;
                    text-align: center;
                }
                .equipo {
                    grid-area: equipo;
                    size: 30px;
    
                    .foto{
                        height: 350px;
                        text-align: center;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 768px) {
        .presentacion {
            .nosotros{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 0fr 0fr 0fr;
                grid-template-areas: 
                    "subti"
                    "texto"
                    "equipo";
    
                .texto{
                    grid-area: texto;
                    font-size: 0.8rem;
                    text-align: center;
                }
                .equipo {
                    grid-area: equipo;
                    .foto{
                        height: 300px;
                        text-align: center;
                    }
                }
            }
        }
    }
    
    @media only screen and (max-width:480px){
        .presentacion {
            .nosotros{
            padding: 5px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 0fr 0fr 0fr;
            gap: 5px;
            grid-template-areas: 
                "subti"
                "texto"
                "equipo";
    
                .texto{
                    grid-area: texto;
                    font-size: 1rem;
                    padding: 5px;
                    text-align: center;
                }
                .equipo {
                    grid-area: equipo;

                    .foto{
                        height: 150px;
                        text-align: center;
                        padding: 5px;
                    }
                }
            }
        }    
    }
    .servicios {
        margin: 30px;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        grid-template-areas: 
            "eventos videoc publi produ";

            .eventos{
                text-align: center;
                grid-area: eventos;
                @include servicios ();
            }
            .videoc {
                text-align: center;
                grid-area: videoc;
                @include servicios ();
            }
            .publi{
                text-align: center;
                grid-area: publi;
                @include servicios ();
            }       
            .produ {
                text-align: center;
                grid-area: produ;
                @include servicios ();
            }
    }
    @media only screen and (max-width:768px){
        .servicios {
            margin: 10px;
            padding: 5px;
            display: grid;
            grid-template-columns: 3fr 3fr;
            grid-template-rows: 1fr 1fr;
            gap: 5px;
            grid-template-areas:
                "eventos videoc" 
                "publi produ";
        
            .eventos{
                grid-area: eventos;
                .icoser {
                    height: 40px;
                    width: 40px;
                }
                .subser {
                    font-size: 1.5rem;
                }
                .descrip {
                    font-size: 1.2rem;
                    justify-content:center;
                    padding: 10px;
                }
            }
            .videoc {
                grid-area: videoc;
                .icoser {
                    height: 40px;
                    width: 40px;
                }
                .subser {
                    font-size: 1.5rem;
                }
                .descrip {
                    font-size: 1.2rem;
                    justify-content:center;
                    padding: 10px;
                }
            }
            .publi{
                grid-area: publi;
                .icoser {
                    height: 40px;
                    width: 40px;
                }
                .subser {
                    font-size: 1.5rem;
                }
                .descrip {
                    font-size: 1.2rem;
                    justify-content:center;
                    padding: 10px;
                }
            }
            .produ {
                grid-area: produ;
                .icoser {
                    height: 40px;
                    width: 40px;
                }
                .subser {
                    font-size: 1.5rem;
                }
                .descrip {
                    font-size: 1.2rem;
                    justify-content:center;
                    padding: 10px;
                }
            }
        }
    
    }  
    @media only screen and (max-width:480px){
        .servicios {
            margin: 10px;
            padding: 5px;
            display: grid;
            grid-template-columns: 3fr 3fr;
            grid-template-rows: 1fr 1fr;
            gap: 5px;
            grid-template-areas:
                "eventos videoc" 
                "publi produ";
        
            .eventos{
                grid-area: eventos;
                .icoser {
                    height: 40px;
                    width: 40px;
                }
                .subser {
                    font-size: 1.5rem;
                }
                .descrip {
                    font-size: 1rem;
                    justify-content:center;
                    padding: 10px;
                }
    
            }
            .videoc {
                grid-area: videoc;
                .icoser {
                    height: 40px;
                    width: 40px;
                }
                .subser {
                    font-size: 1.5rem;
                }
                .descrip {
                    font-size: 1rem;
                    justify-content:center;
                    padding: 10px;
                }
            }
            .publi{
                grid-area: publi;
                .icoser {
                    height: 40px;
                    width: 40px;
                }
                .subser {
                    font-size: 1.5rem;
                }
                .descrip {
                    font-size: 1rem;
                    justify-content:center;
                    padding: 10px;
                }
            }
            .produ {
                grid-area: produ;
                .icoser {
                    height: 40px;
                    width: 40px;
                }
                .subser {
                    font-size: 1.5rem;
                }
                .descrip {
                    font-size: 1rem;
                    justify-content:center;
                    padding: 10px;
                }
            }
        }
    }  
    .presu {
        margin: 50px;
        text-align: center;
        opacity: 80%;
        .presu1 {
            padding: 10px;
            border-radius: 45%;
            border: none;
            background-color: black;
        } 
        .presu1 a{
            color: aqua;
            text-decoration: none;
            font-size: 1.5rem;
        } 
        .presu1 a:hover {
            color: white;
            background-color: black;
            border-radius: 45%;
            opacity: 60%;
            padding: 10px;
        }
    }
    @media only screen and (max-width:768px) {
        .presu {
            .presu1 a{
                color: aqua;
                text-decoration: none;
                font-size: 1rem;
            } 
        }
    }
    @media only screen and (max-width:480px) {
        .presu {
            margin: 50px;
            text-align: center;
            opacity: 80%;
            .presu1 {
                padding: 10px;
                border-radius: 45%;
                border: none;
                background-color: black;
            } 
            .presu1 a{
                color: aqua;
                text-decoration: none;
                font-size: 0.8rem;
            } 
        }
    }
    .contact {
        padding: 10px;
        margin: 10px;
        display: inline;
        .form {
            list-style: none;
            text-align: center;
            position: relative;
            background-size:contain;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            .name {
                .name1 {
                    font-size: 1.5rem;
                    padding-right: 30px;
                }
                .name2 {
                    font-size: 1rem;
                    padding-right: 20px;
                    border-radius: 60px;
                    width: 350px;
                }
            }
             .mail {

                .mail1 {
                    font-size: 1.5rem;
                    padding-right: 100px;
                }
                .mail2 {
                    font-size: 1rem;
                    padding-right: 35px;
                    border-radius: 60px;
                    width: 400px;
                }
            }
            .phone {

                .phone1 {
                    font-size: 1.5rem;
                    padding-right: 70px;
                }
                .phone2 {
                    font-size: 1rem;
                    padding-right: 30px;
                    border-radius: 60px;
                    width: 400px;
                }
            }
            .tex { 
                .tex1 {
                    font-size: 1.5rem;
                    padding-right: 30px;
                    padding-bottom: 20px;
                }
                .tex2 {
                    font-size: 1rem;
                    padding-right: 30px;
                    border-radius: 20px;
                    width: 600px;
                }
            }
            .botones {
                text-align: center;

                input {
                    font-size: 1rem;
                    margin-left: 50px;
                    border-radius: 40%;
                    border: none;
                    padding: 10px;
                    background-color: white;
                }
            }
        }
    }
    @media only screen and (max-width:768px) {
        .contact {
            padding: 10px;
            .form {
                text-align: center;
                .name {
                    .name1 {
                        font-size: 1rem;
                        padding-right: 50px;
                    }
                    .name2 {
                        font-size: 1rem;
                        padding-right: 20px;
                        border-radius: 60px;
                        width: 350px;
                    }
                }
                 .mail {
    
                    .mail1 {
                        font-size: 1rem;
                        padding-right: 70px;
                        margin-left: 20px;
                    }
                    .mail2 {
                        font-size: 1rem;
                        padding-right: 35px;
                        border-radius: 60px;
                        width: 400px;
                    }
                }
                .phone {
    
                    .phone1 {
                        font-size: 1rem;
                        padding-right: 70px;
                    }
                    .phone2 {
                        font-size: 1rem;
                        padding-right: 30px;
                        border-radius: 60px;
                        width: 400px;
                    }
                }
                .tex { 
                    .tex1 {
                        font-size: 1rem;
                        padding-right: 30px;
                        padding-bottom: 20px;
                    }
                    .tex2 {
                        font-size: 1rem;
                        padding-right: 30px;
                        border-radius: 20px;
                        width: 600px;
                    }
                }
                .botones {
                    text-align: center;
    
                    input {
                        font-size: 0.8rem;
                        margin-left: 50px;
                        border-radius: 40%;
                        border: none;
                        padding: 10px;
                        background-color: white;
                    }
                }
            }
        }
    }    
    
    @media only screen and (max-width:480px) {
        .contact {
            padding: 10px;
            margin: 10px;
            display: inline;
            .form {
                .name {
                    .name1 {
                        font-size: 0.8rem;
                    }
                    .name2 {
                        font-size: 0.8rem;
                    }
                }
                .mail { 
                    .mail1 {
                        font-size: 0.8rem;
                    }
                    .mail2 {
                        font-size: 0.8rem;
    
                    }
                }
                .phone { 
                    .phone1 {
                        font-size: 0.8rem;
                    }
                    .phone2 {
                        font-size: 0.8rem;
                    }
                }
                .tex { 
                    .tex1 {
                        font-size: 0.8rem;
                    }
                    .tex2 {
                        font-size: 0.8rem;
                    }
                }
                .botones {
                    text-align: center;
    
                    input {
                        font-size: 0.8rem;
                        margin-left: 50px;
                        border-radius: 40%;
                        border: none;
                        padding: 10px;
                        background-color: white;
                    }
                }
            }
        }  
    }
    .pol {
        box-sizing: border-box;
        height: 600px;
        overflow: auto;
        margin-top: 40px;
        margin-bottom: 40px;
        .teryco {
            margin: 20px;
            padding: 20px;
            .subti {
                font-size: 2rem;
                text-align: center;
                text-decoration:underline;
                padding: 10px;
            }
            .texto1 {
                font-size: 1rem;
                padding: 0.5rem;
                margin: 0.5rem;
                text-align:justify;
            }
        }

        .politica {
            margin: 20px;
            padding: 20px;

            .subti {
                font-size: 2rem;
                text-align: center;
                text-decoration:underline;
                padding: 10px;
            }
            .texto2 {
                font-size: 1rem;
                padding: 0.5rem;
                margin: 0.5rem;
                text-align:justify;
            }
        
        }
    }  
    @media only screen and (max-width:480px) {
        .pol {
            box-sizing: border-box;
            height: 600px;
            overflow: auto;
            margin-top: 20px;
            margin-bottom: 40px;
            .teryco {
                margin: 10px;
                padding: 10px;
                .subti {
                    font-size: 1.5rem;
                    text-align: center;
                    text-decoration:underline;
                    padding: 10px;
                }
                .texto1 {
                    font-size: 0.8rem;
                    padding: 0.5rem;
                    margin: 0.5rem;
                    text-align:justify;
                }
            }
            .politica {
                margin: 20px;
                padding: 20px;
            
                .subti {
                    font-size: 1.5rem;
                    text-align: center;
                    text-decoration:underline;
                    padding: 10px;
                }
                .texto2 {
                    font-size: 0.8rem;
                    padding: 0.5rem;
                    margin: 0.5rem;
                    text-align:justify;
                }
            
            }
        }  
    }

    footer {
        background-color: black;
        margin: 0 auto;
        padding: 0 auto;
        box-sizing: border-box;
        .politicas {
            .item2 {
                padding:10px;
                margin-top: 10px;
                margin-left: 20px;
                border:none;
                background-color: $gris;
            } 
            .item2 a{
                color:$letra;
                text-decoration: none;
                font-size: 1rem;
                margin-bottom: 0;
                margin-top: 2rem;
                padding: 0.5rem;
            } 
            .item2 a:hover {
                background-color: gray;
                padding: 10px;
            }
        }
        .section2 {
            list-style: none;
            h4 {
                font-size: 0.8rem;
                display:flex;
                color: white;
                padding:10px;
                margin-left: 25px;
                text-decoration: none;
                display: list-item;
            }
        }
        .section3 {
            margin: 0;
            padding: 0;
            text-align: right;
            .item4{
                height: 40px;
                padding: 0.5rem;
                background-color: none;
                margin-right: 1.5rem;
                background-color: white;
                border-radius: 40%;
            }
            .item5{
                height: 90px;
                padding: 1.5rem;
                position: fixed;
                right: 3rem;
                bottom: 1rem;
                opacity: 80%;
            }
        }
        .section4 {
            list-style: none;
            margin: 20px auto;
            text-align: center;
            .item6{
                list-style: none;
                display: inline-block;
                padding: 1rem;
                
                .icono {
                    height: 30px;
                    justify-content: center;
                }
            }
        }
        @media only screen and (max-width: 480px) {
            .politicas {
                .item2 a{
                    font-size: 0.8rem;
                } 
                .item2 a:hover {
                    background-color: gray;
                    padding: 10px;
                }
            }
            
        }
        h5 {
            font-size: 0.8rem;
            color: $letra;
            text-align: center;
            padding-bottom: 20px;
        }
    }
}
